html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
}

.mainnav {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.leftnav {
  margin: .5em  3em;
  height: 20px;
}

.rightnav{
  margin: .5em  3em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.links{
  margin-left:1.5em;
}

.octocats-gallery{
  margin: 1.5em;
  padding:2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.octocats-container{
  margin: 1.5em;
  padding:2px;
  border-bottom: .5px solid lightgray;
}

.octocats{
  width:500px;
  height: 500px;
  padding:5px;
  border:.25px solid lightgray;
}

.image-footer{
  display:flex;
  flex-direction: row;
  justify-content: space-between
  
}

h3{
  font-size: 12px;
}

.profile-row{
  padding: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.image-footer > h3 {
  color: gray;
}

.profile{
  height: 20px;
  margin: .5em;
}
