html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
}

.octocats{
  width:50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.mainnav {
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.leftnav {
  margin: .5em;
  height: 20px;
}

.rightnav{
  margin: .5em ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.links{
  margin-left:1.5em;
}
